@inherits LayoutComponentBase
<div class="@toprow">
        <menu>
            <img src="https://giffiles.alphacoders.com/931/93176.gif" class="logo" />
            <div class="menu-container container">
                <ul class="menu-items">
                    <li><button class="btn btn-outline-secondary" @onclick="DarkColor">Dark</button></li>
                    <li><button class="btn btn-outline-danger" @onclick="PinkColor">Pink</button></li>
                    <li><button class="btn btn-outline-primary" @onclick="BlueColor">Blue</button></li>
                </ul>
            </div>
        </menu>
    </div>
<main id="bg" class="@mainClass">
        <div class="sidebar">
            <NavMenu />
        </div>
        <article class="content">
            @Body
        </article>
    </main>
    <footer id="@footerClass">
        <Footer/>
    </footer>

@code {

    private string mainClass = "blue";
    private string toprow = "blue";
    private string footerClass = "blue";

    private void DarkColor()
    {
        mainClass = "dark";
        toprow = "dark";
        footerClass = "dark";
    }

    private void PinkColor()
    {
        mainClass = "pink";
        toprow = "pink";
        footerClass = "pink";
    }

    private void BlueColor()
    {
         mainClass = "blue";
         toprow = "blue";
         footerClass = "blue";
    }
    }
